<div class="container">
    <div class="row s12">
        <div class="card  col s12">
            <div class="card-image">
                <img src="{{inmueble.LinkImage}}">
                <span class="card-title">{{inmueble.Categoria}}</span>
            </div>
            <div class="card-content">
                <p>{{inmueble.Tipo}}</p>
                <p>{{inmueble.Direccion}}</p>
                <p>{{inmueble.Departamento}}</p>
                <p>{{inmueble.Ciudad}}</p>
                <p>{{inmueble.Estrato}}</p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>
</div>