<div class="container">
    <div class="row s12" id="card">

        <div *ngFor="let p of housesList" class="card  col s4">
            <div class="card-image">
                <img src="{{p.LinkImage}}" id="image">
                <span class="card-title">{{p.Categoria}}</span>
            </div>
            <div class="card-content">
                <p>{{p.Tipo}}</p>
                <p>{{p.Direccion}}</p>
                <p>{{p.Departamento}}</p>
                <p>{{p.Ciudad}}</p>
                <p>{{p.Estrato}}</p>
            </div>
            <div class="card-action">

                <a routerLink="/inmuebles/details/{{p.id}}">Detalles</a>
                <a routerLink="/inmuebles/delete/{{p.id}}">Eliminar</a>
                <a routerLink="/inmuebles/solicitudes/nueva/{{p.id}}">Solicitar</a>
            </div>
        </div>
    </div>
</div>